@use "./var/var";
@use "./reset/reset";

body {
  height: 100vh;
  font-family: var(--font-desc);
  background-color: var(--color-bg-blue);
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#main {
  flex: 1;
}
