.banner {
  min-height: 764px;
  border-radius: var(--radius-large);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--space-large);

  .inner {
    max-width: 660px;
    width: 100%;

    .title {
      color: var(--color-blue-250);
    }
  }
}
