.banner {
  min-height: 764px;
  border-radius: var(--radius-large);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--space-large);
  margin-bottom: calc(var(--space-x-large) + 40px);

  @media (max-width: 768px) {
    min-height: 600px;
    padding: var(--space-medium);
    margin-bottom: var(--space-x-large);
  }

  .inner {
    max-width: 660px;
    width: 100%;

    .title {
      color: var(--color-blue-250);
      margin-bottom: var(--space-large);
    }
  }
}
