.headerMenuMobile {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  padding: var(--space-medium);
  overflow: hidden;
  height: 80vh;

  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: var(--transition);
  z-index: -1;

  &.show {
    opacity: 1;
    pointer-events: all;
    visibility: visible;
    z-index: var(--z-index-header);
  }

  .inner {
    height: 100%;
    overflow: auto;
    background-color: var(--color-white);
    height: 100%;
    border-radius: var(--radius-medium);
    padding: var(--space-medium);
    border: 1px solid var(--color-border-cyan);

    .spanBorder {
      border: 1px solid var(--color-border-blue);
      width: 100%;
      margin: var(--space-large) 0;
    }
  }
}
