.formSend {
  background-color: var(--color-white);
  padding: var(--space-large);
  border-radius: var(--radius-large);

  @media only screen and (max-width: 768px) {
    padding: var(--space-medium);
  }

  .left {
    flex: 1.1;

    .heading {
      color: var(--color-text-250);
      margin-bottom: var(--space-large);

      @media only screen and (max-width: 768px) {
        margin-bottom: var(--space-medium);
      }
    }

    .desc {
      color: var(--color-text-100);
    }
  }
}
