.bannerMobile {
  background-color: var(--color-white);
  position: relative;
  overflow: hidden;
  border-radius: var(--radius-medium);
  padding-bottom: var(--space-large);

  .img1 {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(180deg);
  }

  .img2 {
    position: absolute;
    top: 50%;
  }

  .abstrakt {
    display: flex;
    justify-content: flex-end;

    img {
      width: 240px;
      height: 240px;
    }
  }

  .flex {
    padding: var(--space-medium);
    margin-bottom: var(--space-large);

    .title {
      color: var(--color-blue-250);
    }

    .btn {
      padding: 25px;
      width: 100%;
    }
  }

  .dataTextImg {
    position: relative;
    z-index: 2;
    align-items: center;
    justify-content: center;
    width: 100%;

    img {
      width: 333px;
    }
  }
}
