.swiperWrapper {
  display: grid;
  grid-auto-rows: 1fr;

  .item {
    background-color: var(--color-bg-cyan);
    padding: var(--space-large);
    border-radius: var(--radius-medium);
    display: grid;
    grid-template-rows: auto 1fr auto;

    @media (max-width: 1024px) {
      padding: var(--space-medium);
    }

    .flexItem {
      display: contents;

      .desc {
        color: var(--color-text-100);
        align-self: stretch;
        padding: var(--space-large) 0;

        @media (max-width: 1024px) {
          padding: var(--space-medium) 0;
        }
      }

      .flexBottom {
        align-self: end;
        span {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }

        .nameDesc {
          color: var(--color-text-250);
        }

        .companyDesc {
          color: var(--color-text-100);
        }
      }
    }
  }
}
