.formBlock {
  flex: 1;
  width: 100%;

  .form {
    width: 100%;

    .flex {
      width: 100%;
    }

    .btn {
      width: 100%;
    }

    .descSuccessfully {
      color: var(--color-cyan-250);
    }

    .descError {
      color: var(--color-danger);
    }
  }
}
